@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 1%, rgba(246,246,246,1) 37%, rgba(245,245,245,1) 100%);
}

a {
    @apply .text-blue-600
}

a:hover {
    @apply .text-blue-300 .underline
}

h1 {
    @apply .text-3xl .text-gray-800 .py-3 .font-semibold
}

h2 {
    @apply .text-gray-800 .pt-4 .pb-1 .text-xl .font-semibold
}

h3 {
    @apply .text-gray-800 .py-2 .font-semibold .text-lg
}

h4 {
    @apply .text-gray-700 .py-1 .font-semibold .text-base
}

p {
    @apply .pt-1 .pb-2 .mb-2 .text-gray-700
}

strong {
    font-weight: 600;
}

blockquote {
    @apply mb-5 .py-3 .px-3 .bg-gray-100 .border-l-4 .border-gray-400 .rounded-r-md;
}

code {
    font-family: 'Menlo', monospace;
}

p > code, li > code {
    font-family: 'Fira Mono', monospace !important;
    @apply .px-2 .py-1 .rounded .bg-gray-100 .text-blue-900 .font-thin .shadow .text-xs .font-mono;
}

pre {
    font-size: 0.85rem !important;
    line-height: 1.7 !important;
    padding: 1.3em !important;
    @apply .w-full .my-4 .bg-white .rounded .py-4 .px-3
}

ul {
    list-style: none;
    @apply .py-2 .text-left
}

ul > li {
    list-style: disc;
    @apply .mb-2
}

ol {
    list-style: numeric;
}

ol,ul {
    @apply .ml-10
}

p > img {
    @apply .mt-4 .mb-3 .border
}

hr {
    margin-top: 2rem;
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: #CBD5E0;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #CBD5E0;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

@screen sm {
    h2 {
        @apply .text-2xl
    }
}

